{% extends "plantilla.html" %}
{% block contenido %}


<h1 class="text-center">Lista de secciones</h1>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Docente</th>
      <th>Clase</th>
      <th>Periodo</th>
      <th>Eliminar</th>
      <th>Actualizar</th>
    </tr>
  </thead>
  <tbody>
    {% for seccion in secciones %}
    <tr>
      <td>{{ seccion.id }}</td>
      <td>{{ seccion.docente }}</td>
      <td>{{ seccion.clase }}</td>
      <td>{{ seccion.periodo }}</td>
      <td><a href="{% url 'secciones:eliminar' seccion.id %}" class="btn btn-danger">×</a></td>
      <td><a href="{% url 'secciones:actualizar' seccion.id %}" class="btn btn-success">×</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
</div>
{% endblock contenido %}