{% extends 'plantilla.html' %}

{% block contenido %}
<h1 class="text-center"> {{ estudiante }}</h1>
<div class="container">
    <div class="row g-2 row-cols-4">
    {% for matricula in estudiante.matriculas.all %} 
        <div class="col">
            <div class="card ">
                <div class="card-body">
                    <h4>
                        {{ matricula.periodo }}
                        <a href="{% url 'estudiantes:seccion_estudiante' estudiante.id matricula.id %}" class="stretched-link"></a>
                    </h4>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>



{% endblock contenido %}