{% extends 'plantilla.html' %}

{% load static %}

{% block titulo %}{{ estudiante }}{% endblock titulo %}

{% block contenido %}

<input type="hidden" id="id_estudiante" value="{{ estudiante.id }}">

<div class="container">
    <h1>{{ estudiante }}</h1>
    <button type="button" class="btn btn-primary mb-3" data-bs-target="#modal" data-bs-toggle="modal">Añadir
        matrícula</button>
    <div class="row g-2 row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4" id="matriculas">
    </div>
</div>

<!-- Modal para añadir matrículas -->
<div class="modal fade" id="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Añadir matrícula</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="post">
                    {% csrf_token %}
                    {{ formulario }}
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" id="guardar" class="btn btn-primary">Guardar matrícula</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'estudiantes/estudiante.js' %}"></script>

{% endblock contenido %}