{% extends "plantilla.html" %}
{% block contenido %}


<h1 class="text-center">Lista de estudiantes📚</h1>
<div class="container">
  <div class="row g-2 row-cols-4">
    {% for estudiante in estudiantes %}
    <div class="col">
      <div class="card ">
        <div class="card-body">
          <h5>{{ estudiante.nombre }} {{ estudiante.apellido }}</h5>
          <a href="{% url 'estudiantes:detalle_estudiante' estudiante.id %}" class="stretched-link"></a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>


{% endblock contenido %}