{% extends "evaluaciones/plantilla.html" %}
{% block contenido %}


<h1 class="text-center">Lista de evaluaciones</h1>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Clase</th>
      <th>Porcentaje</th>
      <th>Numero</th>
      <th>Eliminar</th>
      <th>Actualizar</th>
    </tr>
  </thead>
  <tbody>
    {% for evaluacion in evaluaciones %}
    <tr>
      <td>{{ evaluacion.id }}</td>
      <td>{{ evaluacion.clase }}</td>
      <td>{{ evaluacion.porcentaje }}</td>
      <td>{{ evaluacion.numero }}</td>
      <td><a href="{% url 'evaluaciones:eliminar' evaluacion.id %}" class="btn btn-danger">×</a></td>
      <td><a href="{% url 'evaluaciones:actualizar' evaluacion.id %}" class="btn btn-success">×</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
</div>
{% endblock contenido %}