{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
  <link href='https://css.gg/add-r.css' rel='stylesheet'>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{% static 'favicon.png' %}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <title>
    {% block titulo %}
    {% endblock titulo %}
  </title>
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
          {% if request.user.is_authenticated %}
          <a class="nav-link" href="{% url 'usuarios:cerrar_sesion' %}">Cerrar sesión</a>
          <a class="nav-link" href="{% url 'estudiantes:estudiantes' %}">Estudiantes</a>
          <a class="nav-link" href="{% url 'clases:clases' %}">Clases</a>
          {% endif %}
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </div>
      </div>

    </div>
  </nav>
  {% block contenido %}
  {% endblock contenido %}
</body>

</html>