{% extends "plantilla.html" %}
{% block contenido %}


<h1 class="text-center">Lista de notas</h1>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Numero</th>
      <th>Porcentaje</th>
      <th>Nombre</th>
      <th>Clase</th>
      <th>Nota</th>
      <th>Eliminar</th>
      <th>Actualizar</th>
    </tr>
  </thead>
  <tbody>
    {% for nota in notas %}
    <tr>
      <td>{{ nota.id }}</td>
      <td>{{ nota.evaluacion.numero }}</td>
      <td>{{ nota.evaluacion.porcentaje }}</td>
      <td>{{ nota.inscripcion.matricula.estudiante }}</td>
      <td>{{ nota.inscripcion.seccion.clase }}</td>
      <td>{{ nota.nota }}</td>
      <td><a href="{% url 'notas:eliminar' nota.id %}" class="btn btn-danger">×</a></td>
      <td><a href="{% url 'notas:actualizar' nota.id %}" class="btn btn-success">×</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
</div>
{% endblock contenido %}