{% extends "plantilla.html" %}

{% block contenido %}

<div class="container">
  <h1 class="text-center">Lista de clases</h1>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-2">

    {% for clase in clases %}
    <div class="col">
      <div class="card h-100">
        <div class="card-body text-center">
          {{ clase.nombre }}
          <a href="{% url 'clases:clase' clase.id %}" class="stretched-link"></a>
        </div>
      </div>
    </div>
    {% endfor %}

  </div>

</div>

{% endblock contenido %}