{% extends 'plantilla.html' %}

{% load static %}

{% block titulo %}Clases{% endblock titulo %}

{% block contenido %}

<!-- Lista con las clases -->
<div class="container">
  <h1 class="text-center">Lista de clases</h1>
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-2" id="clases">
  </div>
</div>

<!-- Modal para añadir clases -->
<div class="modal fade" id="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Agregar clase</h3>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form>
          {{ formulario }}
          {% csrf_token %}
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button class="btn btn-primary" id="guardar">Guardar clase</button>
      </div>
    </div>
  </div>
</div>

<!-- Script para gestionar las clases -->
<script src="{% static 'clases/clases.js' %}"></script>

{% endblock contenido %}