{% extends 'plantilla.html' %}

{% load static %}

{% block titulo %}{{ seccion.clase.nombre }}{% endblock titulo %}

{% block contenido %}

<input type="hidden" id="id_clase" value="{{ seccion.clase.id }}">
<input type="hidden" id="id_periodo" value="{{ seccion.periodo.id }}">
<input type="hidden" id="id_seccion" value="{{ seccion.id }}">

<div class="container mt-2 mb-3">
    <h1>{{ seccion.clase.nombre }}</h1>

    <div class="table-responsive">
        <table class="table table-bordered w-auto text-center">
            <thead>
                <tr>
                    <th>Periodo</th>
                    <th>Docente</th>
                    <th>Sección</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ seccion.periodo }}</td>
                    <td>{{ seccion.docente }}</td>
                    <td>{{ seccion.id }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h2>Evaluaciones</h2>
    <div class="table-responsive">
        <table class="table table-bordered w-auto text-center">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Restante</th>
                    <th>Promedio</th>
                    <th>Porcentaje</th>
                    <th>Número</th>
                </tr>
            </thead>
            <tbody id="evaluaciones"></tbody>
            <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#modal_evaluacion">
                            Añadir evaluación
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <h2>Inscripciones</h2>

    <button type="button" class="btn btn-primary mb-3 me-2" data-bs-toggle="modal" data-bs-target="#modal_inscripcion">
        Añadir inscripción
    </button>
    <button type="button" class="btn btn-primary mb-3" id="actualizar_notas">Actualizar notas</button>

    <div class="table-responsive">
        <table class="table table-bordered w-auto text-center">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    {% for evaluacion in seccion.evaluaciones.all %}
                    <th>
                        {{ evaluacion.porcentaje_en_porcentaje }}
                    </th>
                    {% endfor %}
                    <th>100%</th>
                    <th>Pres.</th>
                    <th>Final</th>
                </tr>
            </thead>
            <tbody id="inscripciones"></tbody>
        </table>
    </div>

</div>

<!-- Modal para añadir evaluaciones -->
<div class="modal fade" id="modal_evaluacion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Añadir evaluación</h3>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    {{ formulario_evaluacion }}
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" id="guardar_evaluacion">Guardar evaluación</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal para añadir inscripciones -->
<div class="modal fade" id="modal_inscripcion" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">Añadir inscripción</h3>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <form>
                    {{ formulario_inscripcion }}
                    {% csrf_token %}
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button class="btn btn-primary" id="guardar_inscripcion">Guardar inscripción</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'clases/seccion.js' %}"></script>

{% endblock contenido %}