{% extends "plantilla.html" %}
{% block contenido %}


<h1 class="text-center">Lista de inscripciones</h1>
<div class="text-center"><a class="btn btn-secondary" href="{% url 'inscripciones:crear'%}" role="button">Crear inscripciones</a></div>
<table class="table table-striped ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Matricula</th>
      <th>Estudiante</th>
      <th>Periodo</th>
      <th>Seccion</th>
      <th>Clase</th>
      <th>Eliminar</th>
      <th>Actualizar</th>
    </tr>
  </thead>
  <tbody>
    {% for inscripcion in inscripciones %}
    <tr>
      <td>{{ inscripcion.id }}</td>
      <td>{{ inscripcion.matricula.id }}</td>
      <td>{{ inscripcion.matricula.estudiante }}</td>
      <td>{{ inscripcion.periodo }}</td>
      <td>{{ inscripcion.seccion.id }}</td>
      <td>{{ inscripcion.seccion.clase }}</td>
      <td><a href="{% url 'inscripciones:eliminar' inscripcion.id %}" class="btn btn-danger">×</a></td>
      <td><a href="{% url 'inscripciones:actualizar' inscripcion.id %}" class="btn btn-success">×</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
</div>
{% endblock contenido %}