{% extends "plantilla.html" %}
{% block contenido %}


<h1 class="text-center">Lista de periodos🔎</h1>

<table class="table table-striped ">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Eliminar</th>
      <th>Actualizar</th>
    </tr>
  </thead>
  <tbody>
    {% for periodo in periodos %}
    <tr>
      <td>{{ periodo.id }}</td>
      <td>{{ periodo.nombre }}</td>
      <td><a href="{% url 'periodos:eliminar' periodo.id %}" class="btn btn-danger">×</a></td>
      <td><a href="{% url 'periodos:actualizar' periodo.id %}" class="btn btn-success">×</a></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
</div>
{% endblock contenido %}